{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">Profit all users</h1>
    {% for prof in profiles %}
        <table class="table table-dark">
          <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">BTC profit</th>
                <th scope="col">CASH profit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ prof.user }}</td>
              <td>{{ prof.btc_original }}</td>
              <td>{{ 10000 }}</td>
            </tr>
          </tbody>
        </table>
    {% endfor %}
{% endblock %}